.form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  background-color: white;
}

.btnGroup {
  display: flex;
  justify-content: center;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.item {
  min-width: 350px;
  max-width: 500px;
}

.itemHoriz:first-of-type {
  /* margin-left: 115px; */
}
